* {
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: yellow;
}

.header {
    width: 100%;
    background-color: transparent;
}

.title {
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    background: transparent;
}
.author {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% auto;
}

.system {
    width: 400px;
    outline: black 3px solid;
    margin: 25px 0px;
    padding: 20px;
}

.screen {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.display {
    border: none;
    outline: black 2px solid;
    height: 60px;
    width: 100%;
    text-align: right;
    font-size: 40px;
    overflow-x: auto;
}
::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.operators {
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.operators button {
    height: 100%;
    text-align: center;
    width: 80px;
    background-color: black;
    color: yellow;
    font-weight: bold;
    border: none;
    outline: black 1px solid;
}

.operators button:hover {
    box-shadow: 5px 5px 5px black;
}

.operators button:active {
    background-color: yellow;
    color: black;
}

.numbersParent {
    width: 293.3px;
}

.numbers {
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.numbers button {
    height: 100%;
    text-align: center;
    width: 80px;
    font-weight: bold;
    border: none;
    outline: black 1px solid;
}

.numbers2 {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.numbers2 button {
    height: 100%;
    text-align: center;
    width: 80px;
    font-weight: bold;
    border: none;
    outline: black 1px solid;
}


.keyboard {
    display: inline-flex;
    width: 100%;
}

.keyboard button:hover {
    box-shadow: 5px 5px 5px black;
}

.keyboard button:active {
    background-color: black;
    color: yellow;
}

.equal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 26.6px;
    width: 80px;
    background-color: black;
    color: yellow;
    outline: black 1px solid;
    border: none;
}

.equal:active {
    background-color: yellow;
    color: black;
}